<form method="post" action="/signup">
  <div>
    <label>Username:</label>
    <input type="text" name="user" value="<%= params[:user] %>">
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="pass1">
  </div>
  <div>
    <label>Re-enter password:</label>
    <input type="password" name="pass2">
  </div>
  <button type="submit">Submit</button>
</form>