<form method="post" action="/signin">
  <div>
    <label for="user">Username:
      <input type="text" name="username" id="user">
    </label>
  </div>
  <div>
    <label for="pass">Password:
      <input type="password" name="password" id="pass">
    </label>
  </div>
  <button type="submit">Sign In</button>
</form>
<a href="/signup">Sign up for an account</a>