body {
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
  padding: 30px;
  width: 800px;
  background: #ffffff;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline;
  padding: 0 3px 0 0;
}

nav a {
  display: inline-block;
  padding: 8px 15px;
  background: #ffffcb;
  color: #333333;
  text-decoration: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: -1px 0 3px rgba(0, 0, 0, .3);
}

nav a.active { 
  color: #b00b00; 
  background: #cbffe3;
}

#tabs article + article { display: none; }

fieldset {
  border: none;
  padding: 0;
}